.content{
  width: 100%;
  height: calc(100vh - 0.9rem);
  left: 0;
  top:0;
  z-index: 10;
  overflow: auto;
  >img{
    width: 100%;
    display: block;
  }
}
.tabFooter{
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
}
.flexUl{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #f5f5f5;
  margin-top: 5px;
  li{
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    border-bottom:1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    padding: 10px;
    background: white;
    img{
      width: 60%;
      margin-bottom: 10px;
    }
    &:active{
      background: #f2f2f2;
    }
  }
}
