.vacationTitle{
    width: 100%;
    background: white;
    overflow: hidden;
}
.vacationTitle li{
    float: left;
    width: 50%;
    text-align: center;
}
.vacationTitle a{
    width: 100%;
    display: inline-block;
    padding: 15px 0;
}
.vacationTitle a.selected{
    border-bottom: 2px solid red;
}
.picTitle{
    padding-left: 25px;
}
.picBox{
    background: white;
    padding: 25px 0;
}
